Ustaad G/Ustaad G/Web References/MyServer/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50152/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50152/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50152/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ustaad_G_Service1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewPasswordT_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPasswordT" />
  </wsdl:message>
  <wsdl:message name="IService1_NewPasswordT_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPasswordTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewPasswordS_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPasswordS" />
  </wsdl:message>
  <wsdl:message name="IService1_NewPasswordS_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPasswordSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyteacher_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyteacher" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyteacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyteacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addRating_InputMessage">
    <wsdl:part name="parameters" element="tns:addRating" />
  </wsdl:message>
  <wsdl:message name="IService1_addRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundT_InputMessage">
    <wsdl:part name="parameters" element="tns:isfoundT" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundT_OutputMessage">
    <wsdl:part name="parameters" element="tns:isfoundTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundS_InputMessage">
    <wsdl:part name="parameters" element="tns:isfoundS" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundS_OutputMessage">
    <wsdl:part name="parameters" element="tns:isfoundSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetPasswordS_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordS" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetPasswordS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetPasswordT_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordT" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetPasswordT_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyByAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyByAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyByAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyByAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Search_Teacher_InputMessage">
    <wsdl:part name="parameters" element="tns:Search_Teacher" />
  </wsdl:message>
  <wsdl:message name="IService1_Search_Teacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:Search_TeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllTeachers" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isUniqueT_InputMessage">
    <wsdl:part name="parameters" element="tns:isUniqueT" />
  </wsdl:message>
  <wsdl:message name="IService1_isUniqueT_OutputMessage">
    <wsdl:part name="parameters" element="tns:isUniqueTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isUniqueS_InputMessage">
    <wsdl:part name="parameters" element="tns:isUniqueS" />
  </wsdl:message>
  <wsdl:message name="IService1_isUniqueS_OutputMessage">
    <wsdl:part name="parameters" element="tns:isUniqueSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selected_teachers_InputMessage">
    <wsdl:part name="parameters" element="tns:selected_teachers" />
  </wsdl:message>
  <wsdl:message name="IService1_selected_teachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:selected_teachersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Calculate_rating_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculate_rating" />
  </wsdl:message>
  <wsdl:message name="IService1_Calculate_rating_OutputMessage">
    <wsdl:part name="parameters" element="tns:Calculate_ratingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStudentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStudentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditTeacherDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTeacherDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_EditTeacherDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTeacherDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:isfoundTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:isfoundTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:isfoundStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_isfoundStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:isfoundStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_pay_InputMessage">
    <wsdl:part name="parameters" element="tns:pay" />
  </wsdl:message>
  <wsdl:message name="IService1_pay_OutputMessage">
    <wsdl:part name="parameters" element="tns:payResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_receive_InputMessage">
    <wsdl:part name="parameters" element="tns:receive" />
  </wsdl:message>
  <wsdl:message name="IService1_receive_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reportStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:reportStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_reportStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:reportStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_TL_InputMessage">
    <wsdl:part name="parameters" element="tns:get_TL" />
  </wsdl:message>
  <wsdl:message name="IService1_get_TL_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_TLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selected_teachers_st_InputMessage">
    <wsdl:part name="parameters" element="tns:selected_teachers_st" />
  </wsdl:message>
  <wsdl:message name="IService1_selected_teachers_st_OutputMessage">
    <wsdl:part name="parameters" element="tns:selected_teachers_stResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPasswordT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewPasswordT" message="tns:IService1_NewPasswordT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewPasswordTResponse" message="tns:IService1_NewPasswordT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPasswordS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewPasswordS" message="tns:IService1_NewPasswordS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewPasswordSResponse" message="tns:IService1_NewPasswordS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStudent" message="tns:IService1_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStudentResponse" message="tns:IService1_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTeacher" message="tns:IService1_AddTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTeacherResponse" message="tns:IService1_AddTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verifyStudent" message="tns:IService1_verifyStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verifyStudentResponse" message="tns:IService1_verifyStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyteacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verifyteacher" message="tns:IService1_verifyteacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verifyteacherResponse" message="tns:IService1_verifyteacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addRating" message="tns:IService1_addRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addRatingResponse" message="tns:IService1_addRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isfoundT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isfoundT" message="tns:IService1_isfoundT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isfoundTResponse" message="tns:IService1_isfoundT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isfoundS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isfoundS" message="tns:IService1_isfoundS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isfoundSResponse" message="tns:IService1_isfoundS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ResetPasswordS" message="tns:IService1_ResetPasswordS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResetPasswordSResponse" message="tns:IService1_ResetPasswordS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ResetPasswordT" message="tns:IService1_ResetPasswordT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResetPasswordTResponse" message="tns:IService1_ResetPasswordT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyByAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerifyByAdmin" message="tns:IService1_VerifyByAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerifyByAdminResponse" message="tns:IService1_VerifyByAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search_Teacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Search_Teacher" message="tns:IService1_Search_Teacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Search_TeacherResponse" message="tns:IService1_Search_Teacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllTeachers" message="tns:IService1_ShowAllTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllTeachersResponse" message="tns:IService1_ShowAllTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllStudents" message="tns:IService1_ShowAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllStudentsResponse" message="tns:IService1_ShowAllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isUniqueT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isUniqueT" message="tns:IService1_isUniqueT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isUniqueTResponse" message="tns:IService1_isUniqueT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isUniqueS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isUniqueS" message="tns:IService1_isUniqueS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isUniqueSResponse" message="tns:IService1_isUniqueS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selected_teachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selected_teachers" message="tns:IService1_selected_teachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selected_teachersResponse" message="tns:IService1_selected_teachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Calculate_rating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Calculate_rating" message="tns:IService1_Calculate_rating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Calculate_ratingResponse" message="tns:IService1_Calculate_rating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditStudentDetails" message="tns:IService1_EditStudentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditStudentDetailsResponse" message="tns:IService1_EditStudentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTeacherDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditTeacherDetails" message="tns:IService1_EditTeacherDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditTeacherDetailsResponse" message="tns:IService1_EditTeacherDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isfoundTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isfoundTeacher" message="tns:IService1_isfoundTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isfoundTeacherResponse" message="tns:IService1_isfoundTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isfoundStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isfoundStudent" message="tns:IService1_isfoundStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isfoundStudentResponse" message="tns:IService1_isfoundStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/pay" message="tns:IService1_pay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/payResponse" message="tns:IService1_pay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/receive" message="tns:IService1_receive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/receiveResponse" message="tns:IService1_receive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reportStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reportStudent" message="tns:IService1_reportStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reportStudentResponse" message="tns:IService1_reportStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_TL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_TL" message="tns:IService1_get_TL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_TLResponse" message="tns:IService1_get_TL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selected_teachers_st">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selected_teachers_st" message="tns:IService1_selected_teachers_st_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selected_teachers_stResponse" message="tns:IService1_selected_teachers_st_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPasswordT">
      <soap:operation soapAction="http://tempuri.org/IService1/NewPasswordT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPasswordS">
      <soap:operation soapAction="http://tempuri.org/IService1/NewPasswordS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/verifyStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyteacher">
      <soap:operation soapAction="http://tempuri.org/IService1/verifyteacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRating">
      <soap:operation soapAction="http://tempuri.org/IService1/addRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isfoundT">
      <soap:operation soapAction="http://tempuri.org/IService1/isfoundT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isfoundS">
      <soap:operation soapAction="http://tempuri.org/IService1/isfoundS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordS">
      <soap:operation soapAction="http://tempuri.org/IService1/ResetPasswordS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordT">
      <soap:operation soapAction="http://tempuri.org/IService1/ResetPasswordT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyByAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/VerifyByAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Teacher">
      <soap:operation soapAction="http://tempuri.org/IService1/Search_Teacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllTeachers">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUniqueT">
      <soap:operation soapAction="http://tempuri.org/IService1/isUniqueT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUniqueS">
      <soap:operation soapAction="http://tempuri.org/IService1/isUniqueS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selected_teachers">
      <soap:operation soapAction="http://tempuri.org/IService1/selected_teachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculate_rating">
      <soap:operation soapAction="http://tempuri.org/IService1/Calculate_rating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudentDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/EditStudentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTeacherDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/EditTeacherDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isfoundTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/isfoundTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isfoundStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/isfoundStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pay">
      <soap:operation soapAction="http://tempuri.org/IService1/pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receive">
      <soap:operation soapAction="http://tempuri.org/IService1/receive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/reportStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_TL">
      <soap:operation soapAction="http://tempuri.org/IService1/get_TL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selected_teachers_st">
      <soap:operation soapAction="http://tempuri.org/IService1/selected_teachers_st" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50152/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>